/*
COLORS:
  green: #8EC3AF
  dark-green: #6fa792
  blue: #01395E
  gray: #D5D5D5
  navy: #1E262A
  dark-navy: #192024
*/

body{
  background: #1E262A;
  font-weight: 150;
  color:#D5D5D5;
}

.dark {
  background: #192024;
}

.warning {
  color: rgb(238, 77, 88);
}

.no_display {
  display: none;
}

.clear {
  opacity: 0;
  transition: all 0.2s;
}

.overflowed {
  overflow: scroll;
}

.vertical_padding {
  padding: 15px 0px;
}

.border_bottom{
  padding-bottom: 10px;
  border-bottom: 2px solid black
}

.hidden {
  visibility: hidden;
}

.align_left {
  text-align: left;
}

.indent {
  text-indent: 5em;
}

.clicker_cursor {
  cursor: pointer !important;
}

.black{
  color:#1E262A;
}

.primary {
  color:#8EC3AF !important;
}

.primary_hover:hover {
  opacity:0.8 !important;
}

.bold {
  color: #EF4AB5;
}

.primary_btn{
  background-color: #EF4AB5 ;
  color:white;
}

.hover_opacity {
  opacity: 1;
  transition: opacity 0.2s;
}

.hover_opacity:hover {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.primary_btn:active, .primary_btn:hover {
  background-color: #d6389e;
  color:white;
}

.reduce_bottom {
  margin-bottom: -30px;
}

h2 {
  font-weight: 200;
  font-size: 2em;
}

.addMovieButtonBig {
  width: 400px;
  height:400px;
  margin:auto;
  border-radius: 100%;
  border: 2px solid #8EC3AF;
  font-size: 15em;
  font-weight: 100;
  transition: all 0.5s;
}

.addMovieButtonBig:hover, .addMovieButtonBig:active {
  background: #8EC3AF;
  color:white;
  cursor: pointer;
}

h1 {
  font-weight: 200;
  font-size: 3em;
}

h3 {
  font-weight: 150;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
}

.h2_break{
  margin-top: 3em;
}

.bump_down{
  padding:1px;
}

.align_right{
  text-align: right;
}

.float_right {
  float: right;
}

.float_left {
  float:left;
}

.float_center {
  margin: auto;
}

.match_top {
  margin-top: -35px;
}

.vertical_center {
  margin-top: 7px;
}

.bump_down_x {
  margin-top: 25px;
}

.bump_right_sm {
  margin-right: -5px;
}
.bump_left_sm {
  margin-left: -7px;
}

.bump_right {
  margin-right: -35px;
}

.text_sm {
  font-size: 14px;
}

.right_margin {
  margin-right: 25px;
}

/* ===== NAV ===== */

.navbar {
  background:#192024;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 10px 5px #181f22;
}

.navbar_home {
  background: none;
  border-bottom: none;
  box-shadow: none;
}

#logo {
  font-size: 1.5em;
  font-weight: 225;
  color:#EF4AB5;
}

.navbar-nav li a{
  color: #D5D5D5;
}

.navbar-nav li a:hover, .navbar-nav li a:active, .navbar-nav li a:focus{
  color: #8EC3AF;
}

.navbar-nav .active a{
  color: #8EC3AF;
}

.nav_button {
  margin-left: 25px;
  border: 1px solid #8EC3AF;
  border-radius: 100%;
  transition: background 0.5s;
  padding:0px 8px;
  width:43px;
  height:42px;
}

.navbar-toggler-icon {
  color:#d5d5d5
}

.nav_button:hover {
  background: #8EC3AF;
  transition: background 0.5s;
}

.nav_button a {
  color:white;
}
.nav_button a:hover {
  color: white !important;
}

.add_hover{
  position: absolute;
  right: 17px;
  top: 55px;
  visibility: hidden;
  transition: visibility 0.2s;
  background: #d5d5d5;
  border-radius: 2px;
  box-shadow: 3px 3px 2px #181f22;
  color:#181f22;
  padding: 2px 10px;
}

.nav_button:hover .add_hover{
  visibility: visible;
  transition: visibility 0.2s;
}

.plus {
  display:inline-block;
  width:50px;
  height:50px;

  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    #000;
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

.dropdown-menu {
  margin-left: -85px;
}

.friendRequestNotification {
  background: rgb(238, 77, 88);
  border-radius: 100%;
  width:15px;
  height:15px;
  margin-left: 5px;
}

.friendRequestNotification p {
  text-align: center;
  font-size: 10px;
}

/* ===== MAIN ===== */
#main {
  padding-top: 2em;
  text-align: center;
  margin-bottom: 90px;
  transition: all 0.5s;
}

#main #selection {
  text-align: left;
}

#main .poster {
  border-radius: 5px;
  box-shadow: 5px 5px 2px #181f22;
}

#main .poster:hover {
  opacity: 0.8;
  transition: all 0.15s;
}

.flame {
  margin-top: -10px;
}

.flame_text {
  float:right;
  display: none;
}

.revealer:hover .flame_text{
  display:block;
}

.top_seperator {
  margin-top: 30px;
  border-top: 3px solid #192024;
}

.right_border {
  border-right: 3px solid #192024;
}

.padded_sm{
  padding: 10px;
}

/* ===== Modal ===== */
.modal-content {
  background: #1E262A;
}

.modal-body {
  text-align: center;
}

textarea {
  background: #192024;
  border:1px solid black;
  border-radius: 5px;
  color: #D5D5D5;
  width: 100%;
  height:10vw;
}

.movie_options {
  background: #192024;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px #192024;
}

.movie_options p{
  padding-top: 15px;
}

.movie_options p:hover{
  opacity: 0.8;
}

/* ===== STATS ===== */

.stat_link {
  text-align: center;
  padding:35% 0%;
  width: 80%;
  margin: 5% 0% 5% 10%;
  border: 1px solid #8EC3AF;
  border-radius: 100%;
  transition: background 0.5s;
  /* transition: color 0.5s; */
  background: #192024;
  /* box-shadow: 5px 5px 5px #192024; */
}

.stat_link:hover, .stat_link:active {
  background: #8EC3AF;
  color: white;
  transition: all 0.5s;
}

.stat_box {
  width: 325px;
  height: 150px;
  border: 1px solid #192024;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #192024;
  overflow: scroll;
}

.stat_box p {
  margin:0;
  padding: 5px 0px;
}

.checkered p:nth-child(odd){
  background:  #192024;
}

.graph_div {
  transition: content 1s;
}

/* ===== Login ===== */
.login_input {
  margin-left:5px;
  width: 100%;
  background:#D5D5D5;
  border:1px solid #192024;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #192024;
  padding: 5px;
  font-size: 1em;
  font-weight: 250;
}

.login_input:active, .login_input:focus {
  border:1px solid #192024;
}

#invalid_label {
  opacity: 0;
  transition: all 0.5s;
}

#invalid_modal_label {
  opacity: 0;
  transition: all 0.5s;
}

.padded_top{
  margin-bottom:-5px;
}

.modal-footer{
  border-top: none;
  margin-top:-25px;
}

/* ===== Movie Modal ====== */
#search_page_2 {
  display: none
}

#search_page_2 .poster {
  width: 98%;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #181f22;
  margin: 10px 10px;
  opacity: 0.8;
  transition: all 0.2s;

}

#search_page_2 .poster:hover {
  opacity: 1;
  width:100%;
  transition: all 0.2s;
}

#search_page_3 {
  display: none;
}

#search_page_3 .poster {
  width: 50%;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #181f22;
  opacity: 1;
}

.rating_input {
  width: 30px;
  border-radius: 5px;
  background: #181f22;
  border: 1px solid black;
  color: #d5d5d5;
  text-align: center;
  padding: 1px 5px;
}


.theme_input {
  width: 200px;
  border-radius: 5px;
  background: #181f22;
  border: 1px solid black;
  color: #d5d5d5;
  padding: 1px 5px;
  margin-bottom: 15px;
}

#submit_footer {
  visibility: hidden;
}

.theme_deleter {
  margin-left: 15px;
  padding: 1px 8px;
  border-radius: 100%;
  transition: all 0.5s;
}

.theme_deleter:hover {
  cursor: pointer;
  color: rgb(238, 77, 88) !important;
  background: #d5d5d5;
  transition: all 0.5s;
  opacity: 1;
}

.edit_icon {
  margin-left: 15px;
  border-radius: 100%;
  transition: all 0.5s;
}

.edit_icon:hover {
  opacity: 1 !important;
}

/* ===== Footer ====== */

.footer{
  /* color:#8EC3AF; */
  text-align: center;
  background: #192024;
  padding-top: 15px;
}

.footer_home {
  padding-bottom: 1px;
}

/* ===== Profile ====== */
.bottom_divider {
  padding-bottom: 20px;
  border-bottom: 2px solid #181f22;
}

.bump_up {
  margin-top: -25px;
}

.bump_up_plus {
  margin-top: -50px;
}

.avatarWrapper {
  width: 150px;
  height:150px;
  background: #181f22;
  border-radius: 100%;
}

.avatar {
  width: 125px;
  height:125px;
  margin-top:12.5px;
  /* padding:10px 10px; */
  /* border: 1px solid #aaa; */
  border-radius: 50%;
}

.avatarWrapperSmall {
  width: 75px;
  height:75px;
  background: #111;
  border-radius: 100%;
}

.avatarSmall {
  width: 60px;
  height:60px;
  margin-top: 7.5px;
  border-radius: 100%;
}

#usersWrapper {
  height: 400px;
}

.outline:hover{
  opacity: 0.9;
  transition: all 0.2s;
  outline: 1px solid #8EC3AF;
}

/* ===== ABOUT ====== */
#jumbo {
  width: 100%;
  height: 51vw;
  margin-top: -5vw;
  background-image: linear-gradient(to bottom right, #000, #9c2d75);
  text-align: center;
  border-bottom: 3px solid #181f22;
}

#jumbo .super_logo {
  font-size: 15vw;
  font-weight: 150;
  letter-spacing: 6vw;
  margin-left: 5vw;
  height:100%;
  padding: 17vw 0;
}


/* ===== Loading Screen ===== */
#loadingScreen {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
}
.lds-ring {
  display: block;
  margin:auto;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 23vw;
  z-index: 5000;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#reviewSection i{
  margin-left: 15px;
  padding: 5px;
  border-radius:100%;
  transition: all 0.5s;
}

#reviewSection i:hover{
  background: #d5d5d5;
  transition: all 0.5s;
  color: #EF4AB5;
}

#reviewSection .upvoted {
  color: #EF4AB5 !important;
  background: #d5d5d5 !important;
  padding: 5px;
  border-radius:100%;
}

#reviewSection .indented {
  margin-left: 15px;
}

.friendRequestWrapper {
  width: 100%;
  padding: 15px 0px 20px 0px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #192024;
  background: #192024;
}



/* fade */

.fade_in {
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
}

.fade_in_slow {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}